body {
background: #fff; 
}

.logo {
text-decoration: none;
}

#title {

font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;

/* line-height: 60px; */ 
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
width: 1440px;
height: 600px;
background: #2e2f42;
}



.header-link {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
border-bottom: 1px solid #e7e9fc;
width: 1440px;
height: 72px;
text-decoration: none;
/* line-height: ; */ 
line-height: 24px;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-link:hover {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #404bbf;
}

li {
list-style-type: none;
} 

.address-email {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.address-email:hover {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #404bbf;
}

.address-tel {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.address-tel:hover {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #404bbf;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
}

button:hover {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #404bbf;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #404bbf;
}



.visually-hidden {
    /*...*/
display: none;
}

.assets-title {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.assets-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.our-team {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}


.our-team-name {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
    
 /* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.out-team-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.our-portfolio {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.portfolio {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}